input[type=checkbox] {
    position: absolute;
    opacity: 0;
}
.custom-checkbox {
    height: 14px;
    width: 14px;
    border: solid 2px #D3D3D3;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    margin-top: -2px;
    margin-left: -26px;
}

.reminders label {
    margin-left: 24px;
    cursor: pointer;
}

input:checked + label {
    color: gray;
    text-decoration: line-through;
}
input:checked + label .custom-checkbox {
    background: #696969;
    border-color: gray;
    box-shadow: inset 0 0 0 2px #292929;
}