.topBar {
    background: #2A2A2A;
    height: 22px;
    position: fixed;
    z-index: 100;
    width: 100%;
}
body{
    background: #1f1f1f;
}
#closeApp{
    -webkit-app-region: no-drag;
    background: transparent;
    border: solid 0px transparent;
    padding: 4px 6px;
    color: #B7B7B7;
    float: right;
    font-family: 'Nunito';
    height: 22px;
    font-weight: 900;
    font-size: 11px;
    outline-color: transparent;
    transition: 0.3s;
}
#maximizeApp{
    -webkit-app-region: no-drag;
    background: transparent;
    border: solid 0px transparent;
    padding: 4px 6px;
    color: #B7B7B7;
    float: right;
    font-family: 'Nunito';
    height: 22px;
    outline-color: transparent;
    transition: 0.3s;
}
#minimizeApp{
    -webkit-app-region: no-drag;
    background: transparent;
    border: solid 0px transparent;
    padding: 4px 6px;
    color: #B7B7B7;
    float: right;
    font-family: 'Nunito';
    height: 22px;
    outline-color: transparent;
    transition: 0.3s;
    font-weight: bold;
}
#minimizeApp:hover, #maximizeApp:hover {
    background: #414141;
    outline-color: transparent;
}
#closeApp:hover{
    background: #B92828;
    outline-color: transparent;
}

.mainSideBar {
    background-color: #171717;
    height: 100%;
    width: 270px;
    position: fixed;
    z-index: 1;
    overflow: scroll;
}
.content {
    position: absolute;
    left: 270px;
}

/*main task window (daily)*/
#img_container {
    position: sticky;
    overflow: hidden;
    width: 90%;
    height: 200px;
    margin: 35px auto;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px #00000033;
}
#img_container img {
    width: 100%;
    filter: brightness(0.7);
    /* Not sure if we should include it in the final build.
    filter: blur(2px);
    */
}

#top-bar-list {
    position: sticky;
    overflow: hidden;
    width: 90%;
    height: 90px;
    margin: 35px auto;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px #00000033;
    background-color: rgb(45, 91, 129);
}
#top-bar-list img{
    width: 100%;
    filter: brightness(0.7);
    opacity: 0;
    /* Not sure if we should include it in the final build.
    filter: blur(2px);
    */
}
button#deleteList {
    bottom: 24px;
    position: sticky;
    margin-right: 5%;
    color: white;
    font-family: 'Nunito';
    text-shadow: 2px 2px rgba(0, 0, 0, 0.329);
    float: right;
    background-color: transparent;
    border: 0px;
    opacity: 0.8;
    transition: 0.3s;
    outline: transparent;
    padding: 0px;
}

h1.title{
    bottom: 20px;
    position: sticky;
    margin-left: 5%;
    color: white;
    font-family: 'Nunito';
    font-size: 50px;
}
button#addReminder{
    bottom: 13px;
    position: sticky;
    margin-right: 5%;
    color: white;
    font-family: 'Nunito';
    font-size: 50px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.329);
    float: right;
    background-color: transparent;
    border: 0px;
    opacity: 0.8;
    transition: 0.3s;
    outline: transparent;
}
button#addReminder:hover{
    color: white;
    opacity: 1;
}
.reminders li {
    margin: 10px 5%;
    background: #292929;
    color: rgb(211, 211, 211);
    padding: 16px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px #00000033;
    font-family: 'Nunito';
    /*animation: drop 0.5s ease forwards;*/
}
/*Add Item popup*/
#addItem {
    display: none;
    background: #292929;
    animation: slidedown 0.4s ease forwards;
    height: 22px;
    padding: 10px 16px 16px 16px;
}
.divider2 {
    background: #969696;
    width: 1px;
    height: 24px;
    display: inline-block;
    margin: 0px 10px;
}
#addItem input {
    background: #292929;
    width: 79%;
    border: #292929;
    border-bottom: solid 1px #5d5d5d;
    animation: text-focus-back 0.3s ease;
}
#addItem input:focus {
    outline: transparent;
    animation: text-focus 0.4s ease forwards;
    font-family: 'Nunito';
    color: rgb(211, 211, 211);
    font-size: 14px;
}
#addItem button {
    background: transparent;
    width: 24px;
    height: 24px;
    margin: 0px;
    border: solid 1px transparent;
    padding: 0px 0px;
    opacity: 0.7;
}
/*Animations*/
@keyframes slidedown{
    0%{ transform: translateY(-50px)}
    70%{ transform: translateY(5px)}
    100%{ transform: translateY(0px)}
}
@keyframes text-focus{
    0%{ border-bottom: solid 1px #5d5d5d }
    100%{
        border-bottom: solid 1px rgb(36, 112, 189);
        transform: translateY(-8px);
    }
}
@keyframes text-focus-back{
    0%{
        border-bottom: solid 1px #5d5d5d;
        transform: translateY(2px);
    }
    100%{ border-bottom: solid 1px #5d5d5d }
}

/*Custom scrollbar (taken by Dark Instagram by DM)*/
::-webkit-scrollbar {
    display: none;
}