.account{
    background: #242424;
    height: 50px;
    margin: 34px 4% 0px 4%;
    padding: 4% 0%;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px #00000033;
    overflow: hidden;
    position: relative;
}
.profilePicContainer {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    overflow: hidden;
    margin: 0% 0% 0% 4%;
    display: inline-block;
}
img.profilePic{
    height: 100%;
    width: 100%;
}
.accountInfoContainer {
    width: 100px;
    display: inline-block;
    margin: 11px 0% 0% 5%;
    position: absolute;
    user-select: none;
}
.account h1 {
    color: #e4e4e4;
    display: inline-block;
    position: static;
    font-family: 'Nunito';
    clear: both;
    font-weight: bold;
}
.account h2 {
    color: #949494;
    display: inline-block;
    position: static;
    font-family: 'Nunito';
}

/*Today*/
#today {
    background: #242424;
    margin: 6px 4% 8px 4%;
    padding: 4%;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px #00000033;
    font-family: 'Nunito';
    transition: background 0.3s;
    cursor: pointer;
}
#today:hover {
    background: #292929;
}

.sTitle{
    color: #cecece;
    display: inline-block;
}
#num {
    float: right;
    background: #383838;
    color: #969696;
    padding: 0px 10px;
    border-radius: 20px;
}

.line {
    width: 80%;
    height: 1px;
    background: #252525;
    margin: 10px 10%;
}
.addList {
    background: #242424;
    margin: 0px 4% 10px 4%;
    padding: 4%;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px #00000033;
    font-family: 'Nunito';
    user-select: none;
}
#newListLabel {
    position: absolute;
    left: 50px;
    margin-top: 3px;
    color: #ffffff;
    opacity: 0.4;
}
.addListMenu h1{
    color: rgb(204, 204, 204);
    font-family: 'Nunito';
    margin-left: 28px;
    padding-top: 2px;
}
.addList input {
    width: 78%;
    background: transparent;
    border: transparent;
    margin-left: 28px;
    outline: transparent;
    color: rgb(189, 189, 189);
    font-family: 'Nunito';
    padding: 0px 5px;
}
.addListButton{
    background: transparent;
    border: transparent;
    height: 19px;
    width: 19px;
    position: absolute;
    padding: 0px;
}

/*lists*/
.reminder-list li {
    background: #242424;
    margin: 6px 4% 8px 4%;
    padding: 4%;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px #00000033;
    font-family: 'Nunito';
    color: #cecece;
    display: block;
    transition: background 0.3s;
    cursor: pointer;
}
.reminder-list li:hover {
    background: #292929;
    user-select: none;
}
.active-list {
    transform-box: fill-box;
    padding: 4% 0% 4% 2% !important;
    animation: selected 0.3s ease forwards;
}

button.deleteListButton {
    display: none;
}
.deleteListButton-active {
    background: transparent;
    border: transparent;
    padding: 0px;
    float: right;
    display: block !important;
    margin: -1px 14px 0px 0px;
    opacity: 0.7;
}

@keyframes selected{
    0%{
        border-left: solid 0px #585858;
        padding: 4% 4% 4% 4% !important;    
    }
    60%{
        border-left: solid 6px #585858;
        padding: 4% 0% 4% 3% !important;
    }
    100%{
        border-left: solid 5px #585858;
        padding: 4% 0% 4% 2% !important; 
    }
}